# Special Features of the CensusDataframe

Use the ``publicdata.parse_app_url`` to create a new Census URL.

In [1]:
from publicdata import parse_app_url
import pandas as pd
u = parse_app_url('census://2016/5/CA/county/B01001')
df = u.dataframe

## Display

The ``.table`` method has acessors for displaying information about the table, and most importantly, has a pretty display in Jupyter.

In [2]:
df.table

The ``.titles`` property returns the dataframe with colum names that include the Census column titles, which make it much easier to find the columns you want to use. Combine with ``.head().T`` for an easier-to-read format.

In [3]:
df.titles.head().T

GEOID,05000US06001,05000US06003,05000US06005,05000US06007,05000US06009
STUSAB,CA,CA,CA,CA,CA
COUNTY,001,003,005,007,009
NAME,"Alameda County, California","Alpine County, California","Amador County, California","Butte County, California","Calaveras County, California"
B01001_001 SEX BY AGE for Total Population - Total:,1605217,1184,36963,223877,44787
B01001_001_m90,0,191,0,0,0
B01001_002 SEX BY AGE for Total Population - Male:,786730,692,19839,110926,22156
B01001_002_m90,51,124,125,147,158
B01001_003 SEX BY AGE for Total Population - Male: - Under 5 years,49865,33,681,6353,750
B01001_003_m90,0,17,80,97,43
B01001_004 SEX BY AGE for Total Population - Male: - 5 to 9 years,50533,34,947,6577,1452
B01001_004_m90,994,20,112,417,220
B01001_005 SEX BY AGE for Total Population - Male: - 10 to 14 years,47232,45,676,6312,900
B01001_005_m90,989,24,106,417,199
B01001_006 SEX BY AGE for Total Population - Male: - 15 to 17 years,28154,54,641,4125,941
B01001_006_m90,29,29,58,76,112
B01001_007 SEX BY AGE for Total Population - Male: - 18 and 19 years,20039,35,516,3926,403
B01001_007_m90,0,25,84,80,50
B01001_008 SEX BY AGE for Total Population - Male: - 20 years,9921,20,195,2634,219
B01001_008_m90,701,25,82,487,129
B01001_009 SEX BY AGE for Total Population - Male: - 21 years,10212,10,121,2702,240
B01001_009_m90,722,13,71,481,124
B01001_010 SEX BY AGE for Total Population - Male: - 22 to 24 years,34183,28,625,8052,655
B01001_010_m90,818,17,116,682,182
B01001_011 SEX BY AGE for Total Population - Male: - 25 to 29 years,63570,33,936,7540,962
B01001_011_m90,0,31,74,58,97
B01001_012 SEX BY AGE for Total Population - Male: - 30 to 34 years,63769,24,1066,6823,920
B01001_012_m90,0,16,103,110,76
B01001_013 SEX BY AGE for Total Population - Male: - 35 to 39 years,57047,32,1089,5720,957
B01001_013_m90,1172,26,164,476,208
B01001_014 SEX BY AGE for Total Population - Male: - 40 to 44 years,60842,37,1346,6163,1040
...,...,...,...,...,...
B01001_035 SEX BY AGE for Total Population - Female: - 25 to 29 years,63986,26,672,6645,937
B01001_035_m90,0,16,67,89,109
B01001_036 SEX BY AGE for Total Population - Female: - 30 to 34 years,65498,23,802,6373,960
B01001_036_m90,0,16,104,69,123
B01001_037 SEX BY AGE for Total Population - Female: - 35 to 39 years,60746,21,930,5901,803
B01001_037_m90,1144,14,149,322,190
B01001_038 SEX BY AGE for Total Population - Female: - 40 to 44 years,59212,42,626,5407,1243
B01001_038_m90,1145,22,138,314,185
B01001_039 SEX BY AGE for Total Population - Female: - 45 to 49 years,56365,22,952,6228,1447
B01001_039_m90,0,18,39,96,135
B01001_040 SEX BY AGE for Total Population - Female: - 50 to 54 years,57484,35,1348,7053,1757
B01001_040_m90,0,25,51,46,46
B01001_041 SEX BY AGE for Total Population - Female: - 55 to 59 years,53668,50,1405,7945,2227
B01001_041_m90,937,25,170,392,318
B01001_042 SEX BY AGE for Total Population - Female: - 60 and 61 years,19237,13,670,3198,837
B01001_042_m90,680,9,150,298,248
B01001_043 SEX BY AGE for Total Population - Female: - 62 to 64 years,27613,15,1205,4222,1336
B01001_043_m90,882,10,191,362,308
B01001_044 SEX BY AGE for Total Population - Female: - 65 and 66 years,16447,29,533,2564,918
B01001_044_m90,612,19,146,255,155
B01001_045 SEX BY AGE for Total Population - Female: - 67 to 69 years,20075,19,1019,4012,1282
B01001_045_m90,716,19,153,336,192
B01001_046 SEX BY AGE for Total Population - Female: - 70 to 74 years,25599,31,1304,4561,1332
B01001_046_m90,714,22,171,345,192
B01001_047 SEX BY AGE for Total Population - Female: - 75 to 79 years,18191,10,624,3526,980
B01001_047_m90,695,10,126,327,139
B01001_048 SEX BY AGE for Total Population - Female: - 80 to 84 years,14604,9,579,2876,523
B01001_048_m90,687,11,124,292,128
B01001_049 SEX BY AGE for Total Population - Female: - 85 years and over,17963,12,640,3639,675
B01001_049_m90,692,18,114,316,150

The codes for the column are the first word in the titles. The margin columns are suffixed with '_m90' and are not converted with titles. 

The ``.search_columns`` function returs columns that contain a string or strings, or match a regular expression

In [4]:
pd.set_option('display.max_colwidth', -1)
df.search_columns('Total').head()

,code,title
0,B01001_001,B01001_001 SEX BY AGE for Total Population - Total:
1,B01001_002,B01001_002 SEX BY AGE for Total Population - Male:
2,B01001_003,B01001_003 SEX BY AGE for Total Population - Male: - Under 5 years
3,B01001_004,B01001_004 SEX BY AGE for Total Population - Male: - 5 to 9 years
4,B01001_005,B01001_005 SEX BY AGE for Total Population - Male: - 10 to 14 years

Or, use a regular expression

In [5]:
import re
df.search_columns(re.compile("Total Pop.*(Female|Male):$")).head()

         code                                                 title
0  B01001_002  B01001_002 SEX BY AGE for Total Population - Male:
1  B01001_026  B01001_026 SEX BY AGE for Total Population - Female:

You can also have more than one term -- they are OR'd -- and mix strings and regexes

In [6]:
import re
df.search_columns('14', re.compile("Total Pop.*(Female|Male):$")).head()

,code,title
0,B01001_005,B01001_005 SEX BY AGE for Total Population - Male: - 10 to 14 years
1,B01001_014,B01001_014 SEX BY AGE for Total Population - Male: - 40 to 44 years
2,B01001_014_m90,B01001_014_m90
3,B01001_029,B01001_029 SEX BY AGE for Total Population - Female: - 10 to 14 years
4,B01001_002,B01001_002 SEX BY AGE for Total Population - Male:

# Math with Margins


The dataframe understands the margins and can perform the correct math for summation and ratios. 

## Summation

The ``.sum_m`` and ``add_sum_m`` return  summation columns and add them to the dataset, respectively.

First, lets get a subset of the dataframe.

In [7]:
total_cols = list(df.search_columns(re.compile("Total Pop.*(Female|Male):$")).code)

sdf = df[total_cols].copy()
print(total_cols)
sdf.head()

['B01001_002', 'B01001_026']

              B01001_002  B01001_002_m90  B01001_026  B01001_026_m90
GEOID
05000US06001  786730      51              818487      51
05000US06003  692         124             492         88
05000US06005  19839       125             17124       125
05000US06007  110926      147             112951      147
05000US06009  22156       158             22631       158

Note that we only request 2 columns, but the indexing also returned the margin columsn, so we got 4. Now we can add the two together. We'll get 2 columns, one for the sum, and one for the margin.

In [8]:

x = pd.DataFrame()

x['total'], x['total_margin'] = df.sum_m('B01001_002', 'B01001_026')

x.head()

                total  total_margin
GEOID
05000US06001  1605217  72.124892
05000US06003  1184     152.052622
05000US06005  36963    176.776695
05000US06007  223877   207.889394
05000US06009  44787    223.445743

The ``.add_sum_m`` does all of the hard work of adding the columns to the dataset, but requires the first parameter to be the name of the resulting column.

In [9]:
x = sdf.add_sum_m('total', 'B01001_002', 'B01001_026')
sdf.head() # or x, since the add_sum_m returns the dataframe

,B01001_002,B01001_002_m90,B01001_026,B01001_026_m90,total,total_m90
GEOID,,,,,,
05000US06001,786730,51,818487,51,1605217,72.124892
05000US06003,692,124,492,88,1184,152.052622
05000US06005,19839,125,17124,125,36963,176.776695
05000US06007,110926,147,112951,147,223877,207.889394
05000US06009,22156,158,22631,158,44787,223.445743

### Caution with Sums!

There are some interesting problems with sums. Lets look at the sum of Male and Female compared to the total columns

In [10]:
search = df.search_columns(re.compile("Total Pop.*(Female|Male|Total):$"))
search

         code                                                 title
0  B01001_001  B01001_001 SEX BY AGE for Total Population - Total:
1  B01001_002  B01001_002 SEX BY AGE for Total Population - Male:
2  B01001_026  B01001_026 SEX BY AGE for Total Population - Female:

In [11]:
sdf = df[list(search.code)].copy()

sdf.add_sum_m('total', 'B01001_002', 'B01001_026')

sdf['total_ratio'] = sdf.B01001_001 / sdf.total

sdf[['B01001_001','total', 'total_ratio']].head()

              B01001_001  B01001_001_m90    total   total_m90  total_ratio
GEOID
05000US06001  1605217     0               1605217  72.124892   1.0
05000US06003  1184        191             1184     152.052622  1.0
05000US06005  36963       0               36963    176.776695  1.0
05000US06007  223877      0               223877   207.889394  1.0
05000US06009  44787       0               44787    223.445743  1.0

Note that the ratio is not 1, meaning that the sum of males and females is not the same as the reported total. The clue as to why is in the margins column for the total, `B01001_001_m90`: it is mostly 0. A value of 0 indicates that these values were taken from a controlled source, usually administrative data. Since the number was not pproduced with samploy, there is no sample error. The male and female values were calculated from samples, so they are different and have an error.


The moral is to always check if the value you want to calculate already exists.

## Ratios and Proportions

The ``.ratio`` and ``.proportion`` methods are used for divding numbers.

* For ratio: The numerator should not be a subset of the denominator, such as the ratio of males to females. 
* For proportion:  The numerator should be a subset of the denominator,  

So, if you are dividing  males by females, use the ``.ratio`` method. If you are dividing males by the total population, use the ``.proportion`` method. ( The underlying reason for the difference has to do with whether the resulting value can be greater than 1 )

In [12]:
sdf.titles.head().T

GEOID,05000US06001,05000US06003,05000US06005,05000US06007,05000US06009
B01001_001 SEX BY AGE for Total Population - Total:,1.605217e+06,1184.000000,36963.000000,223877.000000,44787.000000
B01001_001_m90,0.000000e+00,191.000000,0.000000,0.000000,0.000000
B01001_002 SEX BY AGE for Total Population - Male:,7.867300e+05,692.000000,19839.000000,110926.000000,22156.000000
B01001_002_m90,5.100000e+01,124.000000,125.000000,147.000000,158.000000
B01001_026 SEX BY AGE for Total Population - Female:,8.184870e+05,492.000000,17124.000000,112951.000000,22631.000000
B01001_026_m90,5.100000e+01,88.000000,125.000000,147.000000,158.000000
total,1.605217e+06,1184.000000,36963.000000,223877.000000,44787.000000
total_m90,7.212489e+01,152.052622,176.776695,207.889394,223.445743
total_ratio,1.000000e+00,1.000000,1.000000,1.000000,1.000000

In [13]:
sdf['mf_ratio'], sdf['mf_ratio_m'] = sdf.ratio( 'B01001_002', 'B01001_026') # male/female
sdf[['mf_ratio','mf_ratio_m']] .head()

              mf_ratio  mf_ratio_m
GEOID
05000US06001  0.961200  0.000086
05000US06003  1.406504  0.356101
05000US06005  1.158549  0.011172
05000US06007  0.982072  0.001824
05000US06009  0.979011  0.009770

In [14]:
sdf['male_prop'], sdf['male_prop_m90'] = sdf.proportion( 'B01001_002', 'B01001_001') # male/total
sdf.head()

,B01001_001,B01001_001_m90,B01001_002,B01001_002_m90,B01001_026,B01001_026_m90,total,total_m90,total_ratio,mf_ratio,mf_ratio_m,male_prop,male_prop_m90
GEOID,,,,,,,,,,,,,
05000US06001,1605217,0,786730,51,818487,51,1605217,72.124892,1.0,0.961200,0.000086,0.490108,0.000032
05000US06003,1184,191,692,124,492,88,1184,152.052622,1.0,1.406504,0.356101,0.584459,0.045595
05000US06005,36963,0,19839,125,17124,125,36963,176.776695,1.0,1.158549,0.011172,0.536726,0.003382
05000US06007,223877,0,110926,147,112951,147,223877,207.889394,1.0,0.982072,0.001824,0.495477,0.000657
05000US06009,44787,0,22156,158,22631,158,44787,223.445743,1.0,0.979011,0.009770,0.494697,0.003528

## Error Margin Manipulation

The ``.add_rse`` add a relative standard error column

In [16]:
sdf.add_rse('B01001_001').head()

,B01001_001,B01001_001_m90,B01001_002,B01001_002_m90,B01001_026,B01001_026_m90,total,total_m90,total_ratio,mf_ratio,mf_ratio_m,male_prop,male_prop_m90,B01001_001_rse
GEOID,,,,,,,,,,,,,,
05000US06001,1605217,0,786730,51,818487,51,1605217,72.124892,1.0,0.961200,0.000086,0.490108,0.000032,0.000000
05000US06003,1184,191,692,124,492,88,1184,152.052622,1.0,1.406504,0.356101,0.584459,0.045595,9.806539
05000US06005,36963,0,19839,125,17124,125,36963,176.776695,1.0,1.158549,0.011172,0.536726,0.003382,0.000000
05000US06007,223877,0,110926,147,112951,147,223877,207.889394,1.0,0.982072,0.001824,0.495477,0.000657,0.000000
05000US06009,44787,0,22156,158,22631,158,44787,223.445743,1.0,0.979011,0.009770,0.494697,0.003528,0.000000

In [21]:
There are acessors on the estimate colums that will return alternate margins, including: 

* .m90: 90% margins
* .m95: 95% margins
* .m99: 99% margins
* .se: Standard error
* .rse: Relative standard error

SyntaxError: invalid syntax (<ipython-input-21-e659b8777db1>, line 1)

In [23]:
sdf.B01001_026.se.head()

GEOID
05000US06001    31.003040
05000US06003    53.495441
05000US06005    75.987842
05000US06007    89.361702
05000US06009    96.048632
dtype: float64